{% extends 'adminapp/elements/base.html' %}
{% load static i18n %}
{% block title %}{% trans 'Сторінка акцій' %}{% endblock %}

{% block content %}
<br>
<div>
    <div class="col-md-3 fadeout" style="float:left;">
        {% for msg in messages %}
        <div class="alert alert-success" role="alert">
            {{ msg }}
        </div>
        {% endfor %}
    </div>
    <div class="col-md-2 text-center" style="float:right;">
        <a href="{% url 'article-create' 'promotions' %}">
            <button class="btn btn-success  fileinput-button dz-clickable" type="button">
                <i class="fas fa-plus"></i>
                <span>{% trans 'Додати акцію' %}</span>
            </button>
        </a>
    </div>
</div>
<br>
<br>
<br>
<div class="d-flex justify-content-center" style="margin-bottom:1%"><h2>{% trans 'Список акцій' %}</h2></div>
<div class="card-body col-md-10 offset-md-1" style="background:#fff">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th style="width:40%">{% trans 'Назва' %}</th>
            <th>{% trans 'Дата створення' %}</th>
            <th style="width:10%">{% trans 'Статус' %}</th>
            <th style="width:40px"></th>
            <th style="width:40px"></th>
        </tr>
        </thead>
        <tbody>
        {% if promotions %}
        {% for article in promotions %}
        <tr>
            <td>{{ article.title }}</td>
            <td>{{ article.date_created|date:'Y-m-d'}}</td>
            <td>{% if article.is_active %}ON{% else %}OFF{% endif %}</td>
            <td class="edit-page"><a href="{% url 'article-update' article.article_type article.id %}"><i class="fas fa-pen"></i></a></td>
            <td class="delete-pagel"><a href="{% url 'article-delete' article.article_type article.id %}"><i class="fas fa-trash"></i></a></td>
        </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}