{% extends "mainapp/elements/mainapp_base.html" %}
{% load static i18n %}
{% block title %}MegaKino | {% trans 'Головна' %}{% endblock %}

{% block style %}
    <style>
        .header {
            background: blue;
            position: relative;
            z-index: 2;
        }

        img.background {
            min-height: 100%;
            min-width: 700px;
            width: 100%;
            height: auto;
            top: 0;
            left: 0;
            position: fixed;
            z-index: 0;
        }


        .login-div {
            background: whitesmoke;
            border: black;
        }


        .watch-today {
            display: flex;
        }

        .content-block {
            position: relative;
            z-index: 2;
            background: whitesmoke;
        }

        .movie-card {
            height: 400px;
        }

        .fl-col-ce-ce {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .movie-img-card {
            height: 300px;
            width: 250px;
        }
    </style>
{% endblock %}

{% block meta %}
{% endblock %}

{% block bacground %}
    {% if background.background_or_banner == 'banner' %}
        <img src="{{ background.banner_storage_url }}" alt="background" class="background">
    {% endif %}
{% endblock %}

{% block login %}
    <div class="header d-flex justify-content-end aling-items-center">
        <div class="login-div d-flex justify-content-end aling-items-center">
            {% if user.is_authenticated %}
                <div>
                    <a href=""><i class="fas fa-user"></i>
                        {% if user.first_name %}
                            {{ user.first_name }}
                        {% else %}
                            {{ user.username }}
                        {% endif %}</a>
                </div>
                <div>
                    <a href="{% url 'mainapp:logout' %}"><i class="fas fa-power-off"></i></a>
                </div>
            {% else %}
                <div>
                    <a href="{% url 'login' %}">
                        <button type="button" class="btn btn-outline-success">{% trans 'Логін' %}</button>
                    </a>
                </div>
                <div>
                    <a href="{% url 'register' %}">
                        <button type="button" class="btn btn-outline-info">{% trans 'Реєстрація' %}</button>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="container content-block">
        <div class="carousel">
            {% if top_banners %}
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {% for top_bn in top_banners %}
                            <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}"
                                class="indicator"></li>
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner">
                        {% for top_bn in top_banners %}
                            <div class="carousel-item" data-interval="{{ t_b_settings.speed }}">
                                <img src="{{ top_bn.banner_storage_url }}" class="d-block w-100" alt="top_banner_img">
                            </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators"
                            data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators"
                            data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </button>
                </div>
            {% endif %}
        </div>
        <div class="watch-today row">
            {% for m in current_movies %}
                <div class="movie-card col-md-3 fl-col-ce-ce">
                    <a class="fl-col-ce-ce" href="#">
                        <img class="movie-img-card" src="{{ m.main_image_url }}" alt="movie_banner">
                        {{ m.title }}
                    </a>
                    <a href="#">
                        <button type="button" class="btn btn-success">{% trans 'Купити білет' %}</button>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="see-soon"></div>
        <div class="seo-block d-flex flex-column aling-items-center" style="text-align: center">
            <label>Seo текст</label>
            {{ main_page_info.main_seo_text }}
        </div>
    </div>
{% endblock %}


{% block script %}
    <script>
        let topCarouselItems = document.querySelectorAll('.carousel-item')
        if (topCarouselItems.length >= 1) {
            topCarouselItems[0].classList.add('active')
        }

        let topCarouselIndicators = document.querySelectorAll('.indicator')
        if (topCarouselIndicators) {
            topCarouselIndicators[0].classList.add('active')
        }
    </script>
{% endblock %}