{% extends 'adminapp/elements/base.html' %}
{% load static i18n %}
{% block title %}{% trans 'Редагувати користувача' %}{% endblock %}
{% block link %}
    <style>
        .hidden {
            display: none;
        }

        .user-form-div {
            padding: 30px;
        }

        .radio-field {
            width: 220px;
            margin-left: 10px;
        }

        .error-div {
            color: red;
            font-style: italic;
        }

        .password-error-div {
            color: red;
            font-style: italic;
        }

    </style>
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center aling-items-center">
        <div class="user-form-div col-md-8">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    <div class="d-flex row justify-content-between">
                        <div class="col-md-5">
                            <div>
                                <div class="form-group row d-flex justify-content-between">
                                    <label class="col-form-label">{% trans 'Імʼя' %}</label>
                                    <div>{{ user_form.first_name }}</div>
                                </div>
                                <div class="error-div"></div>
                            </div>
                            <div>
                                <div class="form-group row d-flex justify-content-between">
                                    <label class="col-form-label">{% trans 'Прізвище' %}</label>
                                    <div>{{ user_form.last_name }}</div>
                                </div>
                                <div class="error-div"></div>
                            </div>
                            <div>
                                <div class="username-error error-div"></div>
                                <div class="form-group row d-flex justify-content-between">
                                    <label class="col-form-label">{% trans 'Псевдонім' %}</label>
                                    <div>{{ user_form.username }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div>
                                <div class="form-group row d-flex justify-content-between">
                                    <label class="col-form-label">{% trans 'Мова' %}</label>
                                    <div class="radio-field">{{ user_form.language }}</div>
                                </div>
                                <div class="error-div"></div>
                            </div>
                            <div>
                                <div class="form-group row d-flex justify-content-between">
                                    <label class="col-form-label">{% trans 'Стать' %}</label>
                                    <div class="radio-field">{{ user_form.gender }}</div>
                                </div>
                                <div class="error-div"></div>
                            </div>
                            <div>
                                <div class="form-group row d-flex justify-content-between">
                                    <label class="col-form-label">{% trans 'Телефон' %}</label>
                                    <div class="">{{ user_form.phone }}</div>
                                </div>
                                <div class="error-div"></div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex row justify-content-between">
                        <div class="col-md-5">
                            <div class="form-group row d-flex justify-content-between">
                                <label class="col-form-label">E-mail</label>
                                <div class="">{{ user_form.email }}</div>
                            </div>
                            <div class="error-div"></div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group row d-flex justify-content-between">
                                <label class="col-form-label">{% trans 'Дата народження' %}</label>
                                <div class="">{{ user_form.birthday }}</div>
                            </div>
                            <div class="error-div"></div>
                        </div>
                    </div>
                    <div class="d-flex row justify-content-between">
                        <div class="col-md-5">
                            <div class="form-group row d-flex justify-content-between">
                                <label class="col-form-label">{% trans 'Адреса' %}</label>
                                <div class="">{{ user_form.address }}</div>
                            </div>
                            <div class="error-div"></div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group row d-flex justify-content-between">
                                <label class="col-form-label">{% trans 'Місто' %}</label>
                                <div class="">{{ user_form.city }}</div>
                            </div>
                            <div class="error-div"></div>
                        </div>
                    </div>
                    <div class="">
                        <div class="password-error error-div"></div>
                        <div class="d-flex row justify-content-between">
                            <div class="password-inputs col-md-5">
                                <div class="form-group row d-flex justify-content-between">
                                    <label class="col-form-label">{% trans 'Пароль' %}</label>
                                    <div class="">
                                        <input type="password" name="password-field">
                                    </div>
                                </div>
                                <div class="error-div"></div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group row d-flex justify-content-between">
                                    <label class="col-form-label">{% trans 'Повторити пароль' %}</label>
                                    <div class="">
                                        <input class="form-control is-invalid" type="password" name="confirm-password">
                                    </div>
                                </div>
                                <div class="error-div"></div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex row justify-content-between">
                        <div class="col-md-5">
                            <div class="form-group row d-flex justify-content-between">
                                <label class="col-form-label">{% trans 'Номер карти' %}</label>
                                <div class=""><input type="number"></div>
                            </div>
                            <div class="error-div"></div>
                        </div>
                        <div class="col-md-5">
                        </div>
                    </div>
                </div>

                <button id="save_btn" class="btn btn-outline-success" type="submit">
                    {% trans 'Зберегти' %}
                </button>
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'users/js/user_edit.js' %}"></script>
{% endblock %}