{% extends 'adminapp/elements/base.html' %}
{% load static %}
{% load static i18n %}
{% block title %}{% trans 'Сторінка залу' %}{% endblock %}

{% block content %}
<style>
    .hidden {
        display: none
    }

    .img-field {
        outline: 1px solid #000;
    }

    .im-form {
        width: 270px;
        height: 200px;
    }

    .btn-tool {
        width: 10px;
        height: 40px;
    }

    .er-im {
        height: 35px;
    }

    .image-error {
        list-style-type: none;
        color: red;
    }

    .add-f-btn {
        margin-bottom: 5%;
    }

    .type-checkbox {
        margin-right: 25px;
    }

    .errorlist {
        margin-top: 5px;
        list-style-type: none;
        color: red;
    }
</style>

<div>
    <br>
    <form id="main-form-content" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <ul class="nav nav-tabs d-flex" id="custom-content-below-tab" role="tablist">
                <li style="margin-right: 65%">
                    <h3>
                        {% trans 'Сторінка' %}
                    </h3>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" id="custom-content-below-home-tab" data-toggle="pill"
                       href="#custom-content-below-home" role="tab" aria-controls="custom-content-below-home"
                       aria-selected="true">{% trans 'Українська' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="custom-content-below-profile-tab" data-toggle="pill"
                       href="#custom-content-below-profile" role="tab" aria-controls="custom-content-below-profile"
                       aria-selected="false">{% trans 'Російська' %}</a>
                </li>
            </ul>
        </div>
        <br>
        <div class="fadeout">
            {% for msg in messages %}
            {% if msg.level_tag == 'error' %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ msg }}
            </div>
            {% else %}
            <div class="alert alert-success" role="alert">
                {{ msg }}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="form-check" style="margin-left: 80%">
            {{ form.is_active }}
            <label>{% trans 'Активна' %}</label>
        </div>
        <div class="tab-content" id="custom-content-below-tabContent">
            <div class="tab-pane fade active show" id="custom-content-below-home" role="tabpanel"
                 aria-labelledby="custom-content-below-home-tab">
                <div class="form-group" style="width:500px">
                    <label>{% trans 'Назва залу українською:' %}</label>
                    {{ form.title_uk}}
                </div>
                <div class="form-group">
                    <label>{% trans 'Опис залу українською:' %}</label>
                    {{ form.text_uk }}
                </div>
            </div>
            <div class="tab-pane fade" id="custom-content-below-profile" role="tabpanel"
                 aria-labelledby="custom-content-below-profile-tab">
                <div class="form-group" style="width:500px">
                    <label>{% trans 'Назва залу російською:' %}</label>
                    {{ form.title_ru}}
                </div>
                <div class="form-group">
                    <label>{% trans 'Опис залу російською:' %}</label>
                    {{ form.text_ru }}
                </div>
            </div>
        </div>
        <div class="form-group">
            <div id="main_image" class="row align-items-center">
                <label style="margin-left:10px;width:200px">Верхній банер:</label>
                <img id="id_hall-main_image-card" class="img-field"
                     src="{{ form.instance.main_image_url }}" alt="main_image" width="200" height="100">
                <div class="d-flex justify-content-around" style="width:320px;margin:15px">
                    <button id="id_hall-main_image_btn" class="btn btn-outline-success add-img-btn"
                            type="button">
                        <span>Завантажити</span>
                    </button>
                    <button id="hall-main_image-clear_id_btn" class="btn btn-outline-danger clear-img-btn"
                            type="button">
                        <span>Видалити</span>
                    </button>
                    <div hidden>{{ form.main_image }}</div>
                </div>
            </div>
        </div>
        <div class="form-group">
            {{ image_forms.management_form }}
            <div id="empty-form" class="hidden empty-form">
                <div class="d-flex flex-column align-items-end">
                    <button id="id_images-__prefix__-btn_del" class="btn btn-tool" type="button"
                            onclick="deleteImage(this)">
                        <i class="fas fa-times"></i>
                    </button>

                    <img id="id_images-__prefix__-image-card" class="img-field" src="/media/bsimg.jpeg" width="200"
                         height="100">
                    <div hidden>{{ image_forms.empty_form}}</div>
                </div>
                <div class="er-im"></div>
                <button id="id_images-__prefix__-image_btn" class="btn btn-outline-success dz-clickable" type="button"
                        onclick="addImage(this)">
                    <span>Додати</span>
                </button>
            </div>
            <div>
                <label>Галерея:</label>
            </div>
            <div id="im-form" class="row">
                <div class="d-flex justify-content-center align-items-center" style="width:175px;height:200px;">
                    <label>Розмір: 1000x190</label>
                </div>
                {% for form in image_forms %}
                <div id="images-__base__" class="vis-form d-flex flex-column align-items-center im-form">
                    <div class="d-flex flex-column align-items-end">
                        <button class="btn btn-tool" type="button" onclick="deleteImage(this)">
                            <i class="fas fa-times"></i>
                        </button>
                        <img id="id_images-__base__-image-card" class="img-field" src="{{ form.instance.image_url }}"
                             width="200" height="100">
                        <div hidden>{{ form }}</div>
                    </div>
                    <div class="er-im"></div>
                    <button class="btn btn-outline-success dz-clickable" type="button" onclick="addImage(this)">
                        <span>Додати</span>
                    </button>
                </div>
                {% endfor %}
                <div id="im-add-more" class="col-md-2 d-flex justify-content-center align-items-center im-add-more">
                    <button class="btn btn-success dz-clickable add-f-btn" id="add-more" type="button">
                        <i class="fas fa-plus"></i>
                        <span>Додати зображення</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <label>Тип кіно:</label>
                <div class="row" style="margin-left:2px;">
                    <div class="form-check type-checkbox">
                        {{ form.flag_3d }}
                        <label class="form-check-label">3D</label>
                    </div>
                    <div class="form-check type-checkbox">
                        {{ form.flag_2d }}
                        <label class="form-check-label">2D</label>
                    </div>
                    <div class="form-check type-checkbox">
                        {{ form.flag_imax }}
                        <label class="form-check-label">IMAX</label>
                    </div>
                </div>
            </div>
            <div class="date_input offset-md-1">
                <div class="row">
                    <div class="form-group" style=" margin-left:10px;">
                        <label>Схема звичайних місць:</label>
                        {{ form.seats_config}}
                    </div>
                    <div class="form-group" style=" margin-left:10px;">
                        <label>Схема VIP місць:</label>
                        {{ form.vip_seats_config }}
                    </div>
                </div>
                <div class="errdiv" style="height:20px;"></div>
            </div>
        </div>
            {% include 'adminapp/pages/seo_block.html' %}
        <div>
            <div style="margin-left:45%;">
                <button name="save-button" type="submit" class="btn btn-primary">Зберегти</button>
            </div>
        </div>
        <br>
    </form>
</div>
{% endblock %}

{% block script %}
<!--JS for Cinemapage-->
<script src="{% static 'adminapp/js/standart_site_page.js' %}"></script>
{% endblock %}