{% extends 'adminapp/elements/base.html' %}
{% load static i18n %}
{% block title %}{% trans 'Користувачі' %}{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'adminapp/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
    <style>
        .edit-page {
            width: 25px;
        }

        .delete-page {
            width: 25px;
        }

    </style>

{% endblock %}

{% block content %}
    <br>
    <div>
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">{% trans 'Користувачі' %}</h2>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>{% trans 'Дата реєстрації' %}</th>
                        <th>{% trans 'День народження' %}</th>
                        <th>Email</th>
                        <th>{% trans 'Телефон' %}</th>
                        <th>{% trans 'ПІБ' %}</th>
                        <th>{% trans 'Псевдонім' %}</th>
                        <th>{% trans 'Місто' %}</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for u in users %}
                        <tr>
                            <td>{{ u.id }}</td>
                            <td>{{ u.date_joined }}</td>
                            <td>{{ u.birthday }}</td>
                            <td>{{ u.email }}</td>
                            <td>{{ u.phone }}</td>
                            <td>{{ u.first_name }} {{ u.last_name }}</td>
                            <td>{{ u.username }}</td>
                            <td>{{ u.city }}</td>
                            <td class="edit-page">
                                {% if user.is_staff and not user.is_superuser %}
                                    {% if not u.is_superuser %}
                                        <a href="{% url 'user-update' u.id %}"><i class="fas fa-pen"></i></a>
                                    {% endif %}
                                {% elif user.is_superuser %}
                                    <a href="{% url 'user-update' u.id %}"><i class="fas fa-pen"></i></a>
                                {% endif %}
                            </td>
                            <td class="delete-page">
                                {% if user.is_staff and not user.is_superuser %}
                                    {% if not u.is_superuser %}
                                        <a href="#"><i class="fas fa-trash"></i></a>
                                    {% endif %}
                                {% elif user.is_superuser %}
                                    <a href="#"><i class="fas fa-trash"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <!-- DataTables  & Plugins -->
    <script src="{% static 'adminapp/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'adminapp/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'adminapp/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
    <!-- Page specific script -->
    <script>
        $(function () {
            $('#example2').DataTable({
                columnDefs: [
                    {orderable: false, targets: 8},
                    {orderable: false, targets: 9},
                ],
                "paging": true,
                "lengthChange": false,
                "ordering": true,
                "info": true,
                "responsive": true,
                "language": {
                    "search": "Пошук:",
                    "paginate": {
                        "first": "Перша",
                        "previous": "Попередня",
                        "next": "Наступна",
                        "last": "Остання"
                    },
                    "emptyTable": "Ця таблиця не містить даних",
                    "info": "Показано від _START_ по _END_ з _TOTAL_ записів",
                }

            });
        });
    </script>
{% endblock %}